# ─────────────────────────────────────────────
# App
# ─────────────────────────────────────────────
PORT=3001
JWT_SECRET=boxful_super_secret_dev_key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Credenciales de Aplicación (Para generar el App Token)
APP_ID=boxful-frontend
APP_SECRET=secret123

# ─────────────────────────────────────────────
# MongoDB (usado por docker-compose)
# ─────────────────────────────────────────────
MONGO_USER=boxful
MONGO_PASSWORD=boxful123
MONGO_DB=boxful

# ─────────────────────────────────────────────
# DATABASE_URL para Prisma
# Con Docker Compose (el host es el nombre del servicio "mongo"):
DATABASE_URL=mongodb://boxful:boxful123@mongo:27017/boxful?authSource=admin

# Sin Docker (MongoDB local):
# DATABASE_URL=mongodb://localhost:27017/boxful
# MongoDB Atlas:
# DATABASE_URL=mongodb+srv://<user>:<password>@cluster.mongodb.net/boxful
# ─────────────────────────────────────────────
